@{

    ViewData["Title"] = "Landing Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Whack-A-Bug
    </title>
    <link src="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/css/Custom.css" rel="stylesheet" />

</head>
<body>
    <section>
        <div class="container">
            <br /><br /><br /><br />
            <img src="~/img/whack-a-bug.png" class="responsive-image" />
            <div class="row">
                <div class="col-md-6">
                    <p class="land-text">Issue Tracking System</p><br /><br />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-sm">
                            <form>
                                <button class="button-three" asp-area="Identity" asp-page="/Account/Login">Login(demo available)</button>
                            </form>
                            <form>
                                <button class="button-three" asp-area="Identity" asp-page="/Account/Register">Register as a new user</button>
                            </form>
                            <div class="col-sm">
                                
                            </div>
                        </div>
                        <div class="col-sm">
                        </div>
                        <div class="col-sm">
                        </div>
                    </div>
                    <div class="col-md site-description">
                        Welcome to Issue Web, the last issue tracking system you will ever need.  Click on any of the demo user buttons below, where you can browse through the functionality of this application, and see how it will look from each of your team member's perspective.  Different roles have different access so feel free to explore each one.  After logging in as a demo user you will find a few example projects and tickets to help you get a feel of what it will look like when you start using Issue Web yourself.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

</body>
</html>



