@{

    ViewData["Title"] = "Landing Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Whack-A-Bug
    </title>
    <link src="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/css/Custom.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="lander">
            <br /><br /><br /><br />
            <br /><br /><br /><br />
            <br /><br /><br /><br />
            <img src="~/img/whack-a-bug.png" class="responsive-image" />
            <p class="land-text">Issue Tracking System</p><br /><br />
        </div>
    </header>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <form>
                        <button class="button-three" asp-area="Identity" asp-page="/Account/Register">Register</button>
                    </form>
                </div>
                <div class="col-sm-3">
                    <form>
                        <button class="button-three" asp-area="Identity" asp-page="/Account/Login">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <br /><br /><br />
        <br /><br /><br />
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

</body>
</html>



