@model IEnumerable<DragonBugs2020.Models.ViewModels.ManageUserRolesViewModel>

<h2>Manage User Roles</h2>
<div class="container">
    <div class="row">
        @foreach (var btuser in Model)
        {
            <div class="col-sm">
                <b>@btuser.User.FullName</b>

                <form asp-controller="UserRoles" asp-action="ManageUserRoles" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@btuser.User.Id">
                    
                        <div class="form-group multi">
                            <select asp-for="@btuser.SelectedRoles" class="form-control" asp-items="@btuser.Roles" multiple="multiple"></select>
                        </div>
                 

                   
                        <div>
                            <input type="submit" value="Assign Roles" class="btn btn-outline-light" />
                            <a class="btn btn-danger" asp-controller="Users" asp-action="Index">Cancel</a>
                        </div>
                    
                </form>
            </div>
        }
    </div>
</div>

