@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Whack-A-Bug
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Custom.css" rel="stylesheet" />
    <link src="~/favicon.ico" />
</head>
<body>
    <section>
        <div class="container">
            <br />
            @*<img src="~/img/whack-a-bug.png" class="responsive-image" />*@
            <img src="~/img/issue-web.png" class="responsive-image" />
        </div>
        <div class="container dash-radius create-bar">
            <div class="row">
                <div class="col-md-4 login-cons text-center">
                    <div class="lander text-center">
                        <span class="over-div">@ViewData["Title"]</span>
                    </div>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            @*<label asp-for="Input.Email" class="log-reg"></label>*@
                            <input asp-for="Input.Email" class="form-control bg-dark" placeholder="Email..." />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="Input.Password" class="log-reg"></label>*@
                            <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="log-reg">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button-three">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 login-cons">
                    <div class="log-reg text-center">
                        <span class="over-div">Demo Users</span>

                        <form id="account" method="post">
                            <div class="form-group">
                                <button type="submit" name="demoEmail" value="DemoAdminEmail" class="demo-log">Demo Admin</button>
                            </div>
                        </form>
                        <form id="account" method="post">
                            <div class="form-group">
                                <button type="submit" name="demoEmail" value="DemoPMEmail" class="demo-log">Demo Project Manager</button>
                            </div>
                        </form>
                        <form id="account" method="post">
                            <div class="form-group">
                                <button type="submit" name="demoEmail" value="DemoDevEmail" class="demo-log">Demo Developer</button>
                            </div>
                        </form>
                        <form id="account" method="post">
                            <div class="form-group">
                                <button type="submit" name="demoEmail" value="DemoSubEmail" class="demo-log">Demo Submitter</button>
                            </div>
                        </form>
                        <form id="account" method="post">
                            <div class="form-group">
                                <button type="submit" name="demoEmail" value="DemoNewUserEmail" class="demo-log">Demo New User</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br /><br />
                <br /><br /><br /><br /><br />
            </div>
        </div>
    </section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>